body {
    background-color: #fff4c1; 
    font-family: Arial, sans-serif;
    border-left: solid 100px #fff4c1 ;
    }
.red_text{
    color: red;
    font-size:45px;
}
.list_settings{
    color: #1104f9c3;
    font-size:20px; 
}
.green_text{
    color:rgb(97, 234, 90);
}
.size_text{
    font-size: 25px;

}
.button1{
    background-color: #befbd4;
}
.input_color{
    background-color: rgba(184, 248, 248, 0.792);
}
.sss{
    background-color: #6e5937;
}
.table_Style{
    color: #000000;
    font-size: 30px;
    font-weight: 500;
}