@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap');

body{
     font-family: "Montserrat" !important;
    font-weight: 500; 
    background-color: #f8f8fd; 
    font-family: Arial, sans-serif;
        margin:0;
        padding:0;
}
h3{
    margin:0;
    padding:0;
    }
.Global_contaner{
    gap: 20px;
    display: flex;
    justify-content: center;
}
  
.Title_item{
    padding-left: 4px;
    width: 1800px;
    margin-left: 4px;
    border-radius:20px ;
    background-color: #fc5530;
    font-size:45px;
}
.Fst_contaner{
    display: flex;
    flex-direction: column;
    margin-top:30px ;
margin-left: 20px;
padding-left:5px ;
justify-content: center ;
align-items: center;

}
.img_style{
    margin-top:16px ;
    box-shadow: 0 12px 30px #0000001a;
    border-radius: 16px;
    margin-inline:auto ;
}
.list_settings{
    border-radius: 20px;
    background-color: #f8f8fd;
    overflow: scroll;
    overflow-x:hidden;
    width: fit-content; 
    max-height: 200px;
    color: #1104f9c3;
    font-size:15px; 
    box-shadow: 0 12px 30px #0000001a;
}
    .list_settings::-webkit-scrollbar-track{
        display: none;
     }

.green_text{
    color:rgb(97, 234, 90);
}
.size_text{
    font-size: 15px;

}
.input_shadow{
    margin-top: 20px;
    box-shadow: 0 12px 30px #0000001a;
    border-radius: 16px;
    padding: 4px;
}
.button1{
    background-color: #befbd4;
}
.input_color{
    background-color: rgba(184, 248, 248, 0.792);
}

.table_Style{
    border-radius: 12px;
     margin-top: 30px;
    box-shadow: 0 12px 30px #0000001a;
    margin-bottom:20px ;
    color: #000000;
    font-size: 15px;
    font-weight: 500;
}
a{
    text-decoration: none;
    color: #000;
}
.resurs_src{
    display: flex;
    gap: 12px;
    border-radius:10px   ;
    padding: 5px;
    margin: 0 !important;
    background-color:#fc5530 ;
}
.Text_field{
    width: 400px;
    height: 20px;
}
.game_list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column ;
  margin-top: 15px;  
}
.game_list > div{
    box-shadow: 0 12px 30px #0000001a;
    margin-left:50px;
    display: flex;
    align-items: center;
    width: 490px;
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 20px;
}
.Text_size{
    margin-left: 5px;
    width: 200px;
    height: 30px;
}